@model SandboxWeb.Models.PermutationsViewModel

@{
    ViewData["Title"] = "DestinySandbox";
}

@*// Razor Syntax: https://www.tutorialsteacher.com/mvc/razor-syntax*@

<!-- Latest compiled and minified plotly.js JavaScript -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!--https://tarekraafat.github.io/autoComplete.js/#/installation--> 
<script src="https://cdn.jsdelivr.net/npm/@@tarekraafat/autocomplete.js@10.0.4/dist/autoComplete.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@tarekraafat/autocomplete.js@10.0.4/dist/css/autoComplete.min.css">


<div>

    Examples:
    <div>
    <ul>
        <li><a href="~/Home/Index/2891672170">Xenoclast IV</a></li>
        <li><a href="~/Home/Index/821154603">Gnawing Hunger</a></li>
        <li><a href="~/Home/Index/3654674561">Dead Man's Tale</a></li>
        <li><a href="~/Home/Index/3856705927">Hawkmoon</a></li>
    </ul>
    </div>

    @*Search by Name or Id*@
    <div class="autoComplete_wrapper">
        <input type="search" dir="ltr" spellcheck=false autocorrect="off" autocomplete="off" autocapitalize="off" id="autoComplete">
    </div>
    <input type="button" value="Search" name="no" onclick="ButtonClick_Search()"> 

    <p id="weaponNames" style="display:none">
        @Html.DisplayFor(x => x.WeaponNames)
    </p>

    <script>
     // TODO: TYPESCRIPT    
    function ButtonClick_Search()
    {
        var input = document.getElementById("autoComplete").value;
        console.log("test: " + input);
    
        window.location.href = "/Home/Index/" + input
    }
    </script>
    </div>

</div>

<hr />




<div>
@if(this.Model.Summary != null)
{
    <h1 class="display-4">@Html.DisplayFor(x => x.Summary.Name)</h1>
    
    <p>BaseValue: @Html.DisplayFor(x => x.Summary.BaseValue)</p>
    
    <p>
        Number of Permutations @Html.DisplayFor(x => x.Summary.PermutationsCount)
    </p>

    <p id="permutations" style="display:none">
        @Html.DisplayFor(x => x.Summary.Values)
    </p>
    
    <div id="plot" style="width:600px;height:500px;"></div>
}
    <script lang="javascript">
    // https://github.com/plotly/plotly.js
    // https://plotly.com/javascript/box-plots/

    var permutations = document.getElementById("permutations").innerText.split(',');
    console.log(permutations);

    var data = [
      {
        //y: [0, 1, 1, 2, 3, 5, 8, 13, 21],
        y: permutations,
        boxpoints: 'all',
        jitter: 0.3,
        pointpos: -1.8,
        type: 'box'
      }
    ];

    Plotly.newPlot('plot', data);    

    </script>
</div>

<script>
    
    var weaponNames = document.getElementById("weaponNames").innerText.split(',');
    console.log(weaponNames);


    const autoCompleteJS = new autoComplete({
    placeHolder: "Search for Weapon by Name or ID...",
    data: {
        src: weaponNames,
        cache: true,
    },
    resultsList: {
        element: (list, data) => {
            if (!data.results.length) {
                // Create "No Results" message element
                const message = document.createElement("div");
                // Add class to the created element
                message.setAttribute("class", "no_result");
                // Add message text content
                message.innerHTML = `<span>Found No Results for "${data.query}"</span>`;
                // Append message element to the results list
                list.prepend(message);
            }
        },
        //noResults: true,
    },
    searchEngine: "loose",
    resultItem: {
        highlight: true
    },
});

</script>
